<h1>Красава! Ты выйграл!</h1>
<div>Ты правильно ответил на <%= @score %> из <%= @total %> вопросов</div>
<div>Можешь теперь потешить своё самолюбие :)</div>
<div>Если же хочешь чтоб тобой восхитились и остальные, отправь заявку на сертификат и хвастайся им сколько влезет)</div>

<%= render 'statements/form', statement: @statement, test_id: @test_id %>